Package: com.hydra.tlinkios
Name: TLinkIOS
Version: 3.0.0
Architecture: iphoneos-arm
Description: Spoof device identifiers and bypass security. For rootful jailbreak iOS 12+ devices.
Depends: firmware (>= 12.0), mobilesubstrate (>= 0.9.5000)
Maintainer: HYDRA
Author: HYDRA
Section: System
Conflicts: com.hydra.projectx
Replaces: com.hydra.projectx
Provides: com.hydra.projectx
Icon: file:///Applications/TLinkIOS.app/Icon.png
Tag: role::enduser, purpose::extension
